/* Empty file for template. Remember to edit only this file and not the HTML file */





* {
    background: #8BA083;
    border-radius: 10px;
}

.intro {
    background-color: #8BA083;
}

[role=banner] {
    background-color: #8BA083;
    margin: auto;
    width: 30%;
    padding: 10px;
}



.preamble {
    background-color: #8BA083;
    justify-content: flex-end;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.preamble > h3 {
    background-color: #8BA083;
    text-decoration: underline;
}
.preamble > p {
    background-color: #8BA083;
} 



.explanation {
    background-color: #8BA083;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.explanation > h3 {
    background-color: #8BA083;
    text-decoration: underline;
}
.explanation > p {
    background-color: #8BA083;
}



.participation {
    background-color: #8BA083;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.participation > h3 {
    background-color: #8BA083;
    text-decoration: underline;
}
.participation > p {
    background-color: #8BA083;
}



.benefits {
    background-color: #8BA083;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.benefits > h3 {
    background-color: #8BA083;
    text-decoration: underline;
}
.benefits > p {
    background-color: #8BA083;
}



.requirements {
    background-color: #8BA083;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.requirements > h3 {
    background-color: #8BA083;
    text-decoration: underline;
}
.requirements > p {
    background-color: #8BA083;
}

.select {
    background-color: #8BA083;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.view-css {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.archives {
    background-color: #8BA083;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.resources {
    background-color: #8BA083;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.css-resources {
    margin: auto;
    width: 50%;
    padding: 10px;
}